<configuration>

	<!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender">  -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <file>/home/bhargav/beatbonds-logs/BeatBondsArtistCall.log</file>  -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_FILE_LOCATION}</FileNamePattern>
            <MaxHistory>${LOG_FILE_HISTORY}</MaxHistory> <!-- Keep logs for 7 days -->
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_APPENDER_GROK_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_APPENDER_GROK_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <root level="${LOG_LEVEL}">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>